  <div id="ActivePlans" class="tabcontent">
      <h3 class="sizeup">Active Plan</h3>
  
      <div class="card text-white bg-secondary mb-3" style="max-width: 15rem;">
        <h2 class="card-header">Subscriber Id</h2>
        <div class="card-body">
          <h3 class="card-title">8934894893</h3>
         </div>
      </div>
    
      
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <h2 class="card-header">Account balance</h2>
        <div class="card-body">
          <h4 class="card-title">Rs. 893</h4>
         </div>
      </div>
      
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <h2 class="card-header">Account Status</h2>
        <div class="card-body">
          <h3 class="card-title">Active</h3>
         </div>
      </div>
      
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <h2 class="card-header">DueDate</h2>
        <div class="card-body">
          <h3 class="card-title">31 Aug 2018</h3>
         </div>
      </div>
    
          
  </div>

  <a routerLink="/" class="btn btn-primary btn-lg ml-5" id="recharge" (click)=func()>Recharge</a>
           
      


  